.popup {
    position: absolute;
    font-size: 18px;
    color: white;
    background-color: black;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }